<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="com.lemon.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<!-- Listener监听器 -->
	<listeners>
		<listener class-name="com.lemon.listener.AllureReportListener"></listener>
		<listener class-name="com.lemon.listener.RetryListener"></listener>
	</listeners>
</suite> <!-- Suite -->
